
@import "button.css";
@import "list.css";
@import "title.css";
@import "inner.css";
@import "input.css";



body{
    background-color:#b8f6bc;
    width: 100vw;
    height: 100vh;
}


.green-1error{
    background-color:rgb(227, 248, 125);
}

.green-2errors{
    background-color: #FFEB3B;
}

.yellow-3errors{
    background-color: #FFC107;
}

.yellow-4errors{
    background-color: #FF5722;
}


.red-end{
    background-color: #e92e2e;
}

body{
    transition: all 1.5s;   /*si cambiano le proprietà con transizione di 2 sec */
}
























