.inner{
    padding-top: 20px;
    padding-bottom: 150px;
}

#tentativi,#tent{
    display: flex;
    justify-content: center;
    margin: 0px;

}

#altobasso{
    display: flex;
    justify-content: center;
    margin: 0px;
}